.Profile__main-article{
    background-color: #27292d;
    color: white;
    padding-bottom: 20px;
    margin: auto;
    width: 100%;
}
.Profile__User-name{
    text-shadow: 4px 2px #27292d;
}

.Home__Profile-role{
    margin-bottom: 15px;
    color: #CCCDCC;
}

.Profile__thumbnail-icon{
    padding: 20px;
    margin: auto;
    width: 80%;

}

.Skills__Main-container{
    transition: 0.5s;
}
.Skills__Title{
    width: 90%;
    display: inline-flex;    
    text-align: left;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Skills__Svg{
    color: white;
    margin-left: 20px;
    width: 24px;
    height: 24px; 
}
.Skills__Text{
    margin: 0;
    margin-left: 20px;
}


.Skill__Container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Skills__Master{
    padding: 5px;
    background-color: #373b41;
    margin: 5px;
    border-radius: 30px;
}

.Skills__Expert{
    padding: 5px;
    background-color: #373b41;
    margin: 5px;
    border-radius: 30px;
}

.Skills__btn-show{
    font-size: 1.7rem;
    color: white;
    width: 80%;
    margin: auto;
    border: none;
    background-color: #373b41;
    border-radius: 30px;
    display: inline-flex;
}

.Dropdown {
    height: 40px;
    overflow: hidden;
}

.Complete {
    height: 500px;
    overflow-y: scroll;
}

.Skills__Drop-Icon{
    width: 30px;
    height: 30px;
    margin: auto;
}

.Loading__Main{
    margin: auto;
    width: 80%;
    margin-top: 50px;
    padding: 20px;
    border-radius: 60px;
    margin-bottom: 50%;

}

.Exp__Main{
    color: white;
}

.Exp__Container{
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.Exp__Title{
    color: #abb836;
    margin: 0;
}

.Block{
    margin-bottom: 40px;
}

@media (min-width: 700px) {

    .Home__main-article{
        background-color: #27292d;
        color: white;
        padding-bottom: 20px;
        width: 40%;
    }


    .Home__thumbnail{
        padding: 20px;
        margin: auto;
        width: 60%;
    
    }

    .Skills__Show-btn{
        font-size: 1.7rem;
        color: white;
        width: 50%;
        margin: auto;
        border: none;
        background-color: #373b41;
        border-radius: 30px;
        display: inline-flex;
    }

    .Dropdown {
        height: 50px;
        overflow: hidden;
    }


 }
