.Profile__main-article{
    color: white;
    margin: auto;
    width: 100%;
}
.Profile__User-name{
    text-shadow: 4px 2px #27292d;
    padding: 20px;
}

.Home__Title-text{
    display: inline-flex;
    color: white;
    font-size: 5rem;
}

.Home__Title-sub{
    font-size: 3rem;
    color: #b8c34d;
}

.Profile__thumbnail-icon{
    padding: 20px;
    margin: auto;
    width: 80%;

}

.Skills__Main-container{
    transition: 0.5s;
}
.Skills__Title{
    width: 90%;
    display: inline-flex;    
    text-align: left;
    align-items: center;
    font-size: 1.3rem;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.Skills__Title-img{
    color: white;
    margin-left: 20px;
    width: 24px;
    height: 24px; 
}
.Skills__Title-text{
    margin: 0;
    margin-left: 20px;
}


.Skill__Div-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.Skills_Span-text{
    padding: 5px;
    background-color: #373b41;
    margin: 5px;
    border-radius: 30px;
}

.Exp__Tile-text{
    font-size: 1.7rem;
    padding: 20px;
}

.Skills__btn-show{
    font-size: 1.7rem;
    color: white;
    width: 80%;
    margin: auto;
    border: none;
    background-color: #373b41;
    border-radius: 30px;
    display: inline-flex;
}

.Dropdown {
    height: 40px;
    overflow: hidden;
}

.Complete {
    height: 500px;
    overflow-y: scroll;
}

.Skills__Drop-Icon{
    width: 30px;
    height: 30px;
    margin: auto;
}

.Loading__Main{
    margin: auto;
    width: 80%;
    color: white;
    padding: 40px;
    border-radius: 60px;
    margin-bottom: 100px;

}

.Exp__Main{
    color: white;
}

.Exp__Container{
    text-align: left;
    width: 80%;
    margin: auto;
    margin-bottom: 0;
    margin-top: 0;
}

.Exp__Title{
    color: #abb836;
    margin: 0;
}

.Block{
    margin-bottom: 40px;
}

@media (min-width: 1024px) {

    .Skills__Section-container{
        background-color: rgb(37, 36, 36);
        border-radius: 30px;
        min-height: 100%;
        max-height: 100%;
        overflow-y: auto;
        width: 20%;
        padding: 20px;
    }
    .Skills__Section-container:hover{
        transition: 0.4s;
        box-shadow: 4px 4px #3d423d;
    }

    .Exp__Tile-text{
        font-size: 2.5rem;
        padding: 20px;
    }

    .Skills__Main-desktop-container{
        padding: 20px;
        width: 90%;
        height: 1000px;
        display: flex;
        justify-content: space-evenly;
        margin: auto;
    }

    .Home__main-article{
        color: white;
        padding-bottom: 20px;
        width: 40%;
    }


    .Profile__thumbnail-icon{
        padding: 20px;
        margin: auto;
        width: 50%;
    
    }

    .Skills__Show-btn{
        font-size: 1.7rem;
        color: white;
        width: 50%;
        margin: auto;
        border: none;
        background-color: #373b41;
        border-radius: 30px;
        display: inline-flex;
    }
    .Dropdown {
        height: 100%;
    }
 }
